* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "sans-serif";
}

.header-nav {
  font-size: 25px;
  font-weight: "600";
  color: #0e185f;
}

.btn-login-circle {
  position: absolute;
  width: 179px;
  height: 60px;
  left: 1215px;
  top: 75px;

  background: #0e185f;
  border-radius: 30px;
  color: white;
}
